<section id="about" class="about-section">
  <div class="about-left">
    <div class="label" data-aos="fade-up" data-aos-delay="400">
      <img src="assets/img/yellow.png" alt="">
      <span>
        <img src="assets/img/location.png" class="icon" alt="">
        {{ i18n.get('about.location') }}
      </span>
    </div>

    <div class="label" data-aos="fade-up" data-aos-delay="700">
      <img src="assets/img/blue.png" alt="">
      <span>
        <img src="assets/img/shift.png" class="icon" alt="">
        {{ i18n.get('about.relocation') }}
      </span>
    </div>

    <div class="label" data-aos="fade-up" data-aos-delay="900">
      <img src="assets/img/orangeline.png" alt="">
      <span>
        <img src="assets/img/homeoffice.png" class="icon" alt="">
        {{ i18n.get('about.remote') }}
      </span>
    </div>
  </div>

  <div class="about-right">
    <p class="subheading">{{ i18n.get('about.subheading') }}</p>
    <h2>{{ i18n.get('about.headline') }}</h2>

    <svg class="animated-underline" viewBox="0 0 300 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 10 C80 0, 200 20, 300 10" stroke="#1072E7" stroke-width="4" fill="transparent" />
    </svg>

    <p class="description">{{ i18n.get('about.p1') }}</p>
    <p class="description">{{ i18n.get('about.p2') }}</p>
    <p class="description">{{ i18n.get('about.p3') }}</p>

    <a href="#contact" class="talk-btn">{{ i18n.get('about.talk') }}</a>
  </div>
</section>
