<footer class="footer-row">
  <div class="footer-left">
    <p class="copyright">© André Sutter 2024</p>
  </div>

  <nav class="footer-links">
    <div class="hover-button-wrapper">
       <a [routerLink]="'/impressum'" class="footer-link">{{ i18n.get('contact.legal') }}</a>
    </div>
    <div class="hover-button-wrapper github">
      <a href="https://github.com/AndreSutter" target="_blank" class="footer-link">
        <img src="assets/img/github.svg" alt="GitHub Icon" class="hover-icon" />
        GitHub
      </a>
    </div>
    <div class="hover-button-wrapper linkedin">
      <a href="https://www.linkedin.com/in/andr%C3%A9-sutter-1760b7285" target="_blank" class="footer-link">
        <img src="assets/img/linkedin.svg" alt="LinkedIn Icon" class="hover-icon" />
        LinkedIn
      </a>
    </div>
    <div class="hover-button-wrapper email">
      <a href="mailto:andre-sutter@hotmail.com" class="footer-link">
        <img src="assets/img/mailbox.svg" alt="Email Icon" class="hover-icon" />
        Email
      </a>
    </div>
  </nav>
</footer>
